@page 
@model ExpenseUpdateModel
@{
    ViewData["Title"] = "ExpenseUpdate";
}
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/expenseUpdate.js"></script>
<style>
    #expenseContainer {
        background-color: grey;
        border-color: blue;
        border-radius: 5px;
        border-width: 2px;
        color: black;
        height: 250px;
        overflow-y: auto;
        text-align: left;
        width: 800px;
    }
    
</style>
<div class="text-center">
    <h1 class="display-4">Expenses added will be shown below:</h1>
    <hr/>

    <div class="container" id="expenseContainer">
        <ul id="expensesList"></ul>
    </div>

</div>